<div class="my-component">
    This component is defined in the <strong>Blazor_Samples_RazorClassLibrary</strong> library.
</div>
<img src=" _content/Blazor_Samples_RazorClassLibrary/physical-education-svgrepo-com.svg" height="64" width="64" />