<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Stretch div height to fill parent div</title>
    <style type="text/css">

        html, body {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        body {
            display: flex;
            align-items: stretch;
        }

        .root {
            width: 100%;
            background-color: aqua;
        }
    </style>
</head>
<body>


    <div class="root">
        <p>Stretch div height to fill parent div</p>   
    </div>
</body>
</html>