@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Tutorial_BlazorWebAppMovies.Models
@using Tutorial_BlazorWebAppMovies.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Tutorial_BlazorWebAppMovies.Data.Tutorial_BlazorWebAppMoviesContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <form action="/movies" data-enhance data-permanent>
        <input type="search" name="titleFilter" />
        <input type="submit" value="Search" />
    </form>
</p>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredMovies" Pagination="pagination">
    <PropertyColumn Property="movie => movie.Title" Sortable="true" />
    <PropertyColumn Property="movie => movie.ReleaseDate" Title="Release Date" Format="yyyy-MM-dd" />
    <PropertyColumn Property="movie => movie.Genre" />
    <PropertyColumn Property="movie => movie.Price" />
    <PropertyColumn Property="movie => movie.Rating" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="pagination" />

@code {
    private Tutorial_BlazorWebAppMoviesContext context = default!;

    [SupplyParameterFromQuery]
    private string? TitleFilter { get; set; }

    private IQueryable<Movie> FilteredMovies => context.Movie.Where(m => m.Title!.Contains(TitleFilter ?? string.Empty));
    private PaginationState pagination = new PaginationState { ItemsPerPage = 2 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
