@page "/hello"

<div class="my-component">
    This component is defined in the <strong>Fundamentals_BlazorComponent</strong> library.
</div>

<p>@(DateTime.Now)</p>

@if (3 % 2 == 0)
{
    <p>The value was even.</p>
}