
/* 
This stylesheet uses a variety of selectors, including *, which sets a default for all elements that don’t have any other style
*/

* {
    fill: none;
    stroke: black;
} /* default for all elements */

rect {
    stroke-dasharray: 7 3;
}

circle.yellow {
    fill: yellow;
}

.thick {
    stroke-width: 5;
}

.semiblue {
    fill: blue;
    fill-opacity: 0.5;
}
