@page "/childcontentparentpage"
<h3>ChildContentParentPage</h3>

<ChildContentComponent>
    <ChildContent>
        <p>The time is @DateTime.Now</p>
    </ChildContent>
</ChildContentComponent>

@code {

}
