@page "/LayoutSamplePage"

<div class="container-fluid">
    <div class="top-row px-4">
        <span>One</span>
    </div>
    <div class="top-row px-4">
        <span>One</span>
    </div>
    <div class="row">
        <div class="col" style="background-color:yellow;">
            icon
        </div>
        <div class="col-xl" style="background-color:orange;">
          <div class="row">
                <span>Title</span>
          </div>
            <div class="row">
                <span>Detail</span>
            </div>
        </div>
        <div class="col-sm" style="background-color:yellowgreen;">
            right
        </div>
    </div>
</div>