@page "/NavigationViewPage"
@inject NavigationManager NavigationManager

<button @onclick="Navigate">Navigate</button>

@code {
    void Navigate()
    {
        NavigationManager.NavigateTo("appstate");
    }
}