@page "/"

<PageTitle>Moving canvas sammple</PageTitle>

<h3>Moving canvas sammple</h3>

<button class="btn btn-primary" @onclick="Decrement">Left</button>
<button class="btn btn-primary" @onclick="Increment">Right</button>
<button class="btn btn-primary" @onclick="DecrementTop">Top</button>
<button class="btn btn-primary" @onclick="IncrementTop">Down</button>

<div style="top: @(y)px; left: @(x)px; position: absolute;">
    <p>test</p>
    <p>@(y)</p>
    <p>@(x)</p>
</div>

@code {
    private int y = 100;
    private int x = 250;

    private void Increment()
    {
        x += 10;
    }

    private void Decrement()
    {
        x -= 10;
    }

    private void IncrementTop()
    {
        y += 10;
    }

    private void DecrementTop()
    {
        y -= 10;
    }
}
