@page "/three"
@using System.Timers
@inject IJSRuntime JS;

<PageTitle>Moving canvas sample SVG</PageTitle>

<div @ref="mainDiv">

</div>

@code {

    private Timer _timer;
    private ElementReference mainDiv;

    protected override Task OnInitializedAsync()
    {
        _timer = new Timer();
        _timer.Interval = 100;
        _timer.Elapsed += TimerElapsed;
        _timer.AutoReset = true;
        _timer.Enabled = true;        

        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await mainDiv.FocusAsync();
        }

        var args = new object[] { mainDiv };
        var result = await JS.InvokeAsync<BoundingClientRect>("MyDOMGetBoundingClientRect", args);
    }

    private void TimerElapsed(Object source, ElapsedEventArgs e)
    {
        Console.WriteLine($"Tick {e.SignalTime}");

        // Update();
        // Draw();
    }

    private void Draw() => this.StateHasChanged();

    public void Update()
    {
    }

    public class BoundingClientRect
    {
        public double X { get; set; }
        public double Y { get; set; }
        public double Width { get; set; }
        public double Height { get; set; }
        public double Top { get; set; }
        public double Right { get; set; }
        public double Bottom { get; set; }
        public double Left { get; set; }
    }

}
