<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor_Samples</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="overflow-y: auto">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @foreach(var item in MenuItems)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@item.Url">
                    <span class="oi oi-plus" aria-hidden="true"></span>@item.Title
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private IEnumerable<MenuInfo> MenuItems = new[]
    {
        new MenuInfo { Url = "appstate", Title = "App State"},
        new MenuInfo { Url = "AttributeSplattingPage", Title = "Attribute Splatting "},
        new MenuInfo { Url = "BaseClassPage", Title = "Base Class"},
        new MenuInfo { Url = "childcontentparentpage", Title = "Child content"},
        new MenuInfo { Url = "codebehindpage", Title = "Code-behind"},
        new MenuInfo { Url = "ConditionalAtributePage", Title = "Conditional Attribute"},
        new MenuInfo { Url = "CustomPageLayoutPage", Title = "Custom Page Layout"},
        new MenuInfo { Url = "databinding", Title = "Data Binding"},
        new MenuInfo { Url = "errorboundary", Title = "Error Boundary"},
        new MenuInfo { Url = "eventhandlerspage", Title = "Event Handlers"},
        new MenuInfo { Url = "ExpanderPage", Title = "Expander "},
        new MenuInfo { Url = "InvokeComponentMethodExternallyPage", Title = "External Event"},
        new MenuInfo { Url = "keyboardpage", Title = "Keyboard"},
        new MenuInfo { Url = "KeyPreservationElementsPage", Title = "Key Preservation Elements"},
        new MenuInfo { Url = "LifecyclePage", Title = "Lifecycle"},
        new MenuInfo { Url = "NavigationViewPage", Title = "Navigation"},
        new MenuInfo { Url = "RawHtmlPage", Title = "Raw HTML"},
        new MenuInfo { Url = "RazorTemplatesPage", Title = "Razor templates"},
        new MenuInfo { Url = "ReferencePage", Title = "References"},
        new MenuInfo { Url = "RouteConstraintsPage/1/true", Title = "Route Constraints"},
        new MenuInfo { Url = "RouteParametersPage/some-value", Title = "Route Parameters"},
        new MenuInfo { Url = "RouteTemplatesPage", Title = "Route Templates"},
        new MenuInfo { Url = "RouteTemplatesPageOne", Title = "Route Templates"},
        new MenuInfo { Url = "StarshipFormPage", Title = "Starship Form"},
        new MenuInfo { Url = "StaticAssetsPage", Title = "Static assets"},
        new MenuInfo { Url = "SvgPage", Title = "SVG page"},
        new MenuInfo { Url = "TemplateParameterViewParentPage", Title = "Template Parameters"},
    };

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public class MenuInfo
    {
        public string Title { get; set; }
        public string Url { get; set; }
    }
}
